body {
    font-family: Helvetica, Arial, sans-serif;
     margin: 0px;
     font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    width: 20%;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

cite > a {
    display: inline-block;
    width: 100px;
    height: 50px;
}

ul {
    margin: 0px;
}

body > header {
    background-color: green;
    color: white;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    display: flex;
    height: 14vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul{
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 2px solid white;
    border-radius: 5%;
}


body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}


form {
    text-align: center;
}

#main-content > h2 {
    text-align: left;
}

#main-content > cite {
    font-size: smaller;
}

#newsletter {
    text-align: center;
}

body > footer {
    background-color: green;
    display: flex;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: white;
}

body > footer > h2 {
    color: white;
    text-shadow: 
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;;
}

img {
    border-radius: 50%;
}

#footer-ul {
    display: flex;
    list-style: none;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#footer-ul > div > li{
    margin-left: 20px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#footer-ul > div > li > a{
    color: black;
    text-decoration: none;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}